header {
  width: 1000px;
  margin: 0 calc(50% - 500px);
  display: flex;
  flex-direction: row;
  padding: 40px 0;
}

.logo {
  display: flex;
  width: 200px;
  object-fit: contain;
  object-position: left;
}

nav > .main-nav {
  display: flex;
  width: 800px;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.main-nav > a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.main-nav > a:nth-of-type(4) {
  width: 50px;
  text-align: right;
}
.main-nav > a:nth-of-type(5) {
  width: 50px;
}
.container {
  display: flex;
  width: 1000px;
  margin: 0 calc(50% - 500px);
  flex-direction: row;
  gap: 70px;
}

.container-left {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.container-right {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}
.left-column ol::before {
  content: "+";
  position: absolute;
  width: 20px;
  color: var(--primary-color);
  transform: translate(-70%, -5%);
}
.left-column ol {
  margin: 15px;
}

.a > img {
  display: flex;

  top: 25%;
  left: 25%;
  position: relative;
  justify-items: center;
  width: 30px;
  height: 30px;
}
