header {
  width: 1000px;
  margin: 0 calc(50% - 500px);
  display: flex;
  flex-direction: row;
  padding: 60px 0;
  bottom: 0;
}

.logo {
  display: flex;
  width: 200px;
  object-fit: contain;
  object-position: left;
}

nav > .main-nav {
  display: flex;
  width: 800px;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
}

.main-nav > a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.main-nav > a:nth-of-type(4) {
  width: 50px;
  text-align: right;
}
.main-nav > a:nth-of-type(5) {
  width: 50px;
}
.container {
  display: flex;
  width: 1000px;
  margin: 0 calc(50% - 500px);
  flex-direction: row;
  gap: 70px;
  position: absolute;
}

.container-left {
  width: 55%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.container-right {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

@media (max-width: 1100px) {
  .content {
    width: 900px;
    margin: 0 calc(50% - 450px);
  }
}

@media (max-width: 900px) {
  .content {
    width: 700px;
    margin: 0 calc(50% - 350px);
  }
  img {
    width: 50%;
  }
}
