@import "../base/base.css";
@import "../base/layout.css";
/*
.container-left > .switch-left {
  width: 60px;
  height: 60px;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  line-height: 50px;
  font-size: 50px;

  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
}
*/

.a > img {
  display: flex;

  top: 25%;
  left: 25%;
  position: relative;
  justify-items: center;
  width: 25px;
  height: 25px;
}

.columns {
  width: 700px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.right-column > .img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.container-right > h3 {
  color: var(--primary-color);
}
.container-right > p {
  color: grey;
}
.container-right > h1 {
  font-size: 50px;
  font-weight: bolder;
}

.right-column > h4:last-of-type {
}
.img {
  padding-top: 30px;
}
.right-column > .img > .a {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #fcc7d6;
  border: 5px solid #fcc7d6;
  border-radius: 40px;
}

.container > .container-left > .switch-right,
.switch-left {
  background-color: var(--primary-color);
  width: 42px;
  padding-top: 12px;
  padding-left: 14px;
  padding-bottom: 12px;
  border: 1px solid var(--primary-color);
  border-radius: 53%;
  color: white;
  display: flex;
}

.fleshLeft {
  width: 11px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  transform: rotate(45deg);
  display: flex;
}

.container > .container-left > img {
  width: 100%;
}

.fleshRight {
  width: 11px;
  border-right: 2px solid white;
  border-top: 2px solid white;
  padding-bottom: 10px;
  transform: rotate(45deg);
  display: flex;
}

.container > .container-left > .switch-left {
  display: flex;
  position: absolute;
  left: 20px;
  top: 245px;
  transform: translate(-30%, -30%);
}
.container > .container-left > .switch-right {
  display: flex;
  position: absolute;
  right: 15px;
  top: 231px;
}

.left-column ol::before {
  content: "+";
  font-size: 30px;
  position: absolute;
  width: 25px;
  color: var(--primary-color);
  transform: translate(-75%, -25%);
}
.left-column ol {
  margin: 15px;
  color: grey;
}

.button > .addcart {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border-color: transparent;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
