@import "../base/base.css";
@import "../base/layout.css";
@import "../3rd-party/font-awesome.min.css";

.a > img {
  display: flex;

  top: 25%;
  left: 25%;
  position: relative;
  justify-items: center;
  width: 25px;
  height: 25px;
}

.columns {
  width: 600px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.right-column > .img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}

.container-right > h3 {
  color: var(--primary-color);
}
.container-right > p {
  color: grey;
}
.container-right > h1 {
  font-size: 50px;
  font-weight: bolder;
}

.right-column > h4:last-of-type {
}
.img {
  padding-top: 30px;
}
.right-column > .img > .a {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #fcc7d6;
  border: 5px solid #fcc7d6;
  border-radius: 40px;
}

.container-left {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.container > .container-left > .galery {
  width: 100%;
}

.container-left > .galery > .fa {
  position: absolute;
  top: 48.5%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 30px;
}
.container-left > .galery > .fa.fa-angle-left {
  left: 0;
  transform: translateX(18%);
}
.container-left > .galery > .fa.fa-angle-right {
  right: 0;
  transform: translateX(-18%);
}

.left-column ol::before {
  content: "+";
  font-size: 30px;
  position: absolute;
  width: 25px;
  color: var(--primary-color);
  transform: translate(-75%, -25%);
}
.left-column ol {
  margin: 15px;
  color: grey;
}

.button > .addcart {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  border-color: transparent;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
